body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #282c34;
}

h1 {
    text-align: center;
    color: white;

}
h2{
    text-align: center;
    color: white;  
  
}
.play-form {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.play-form label,
.play-list h2 {
    font-weight: bold;
}

.play-form input {
    margin: 5px;
    padding: 5px;
}

.play-list {
    margin-top: 20px;
}

#play-history {
    list-style: none;
    padding: 0;
}

#play-history li {
    margin-bottom: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    background-color: #171717;
    color: white;
    text-align: center;
   
  }
  button{
	background: #171717;
	color: white;
	border: none;
	font-size: 20px;
	
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  #progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
